{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="login">
  <h1 class="happyfarmershop-text">Happy Farmer Shop</h1>
    <h3>Login</h3>

  <form method="POST" action="">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td><input class="btn login_btn" type="submit" value="Login" /></td>
      </tr>
    </table>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} Don't have an account yet?
  <a href="{% url 'main:register' %}">Register Now</a>

    <p class="login-warning">Waspada terhadap pencurian password!</p>
    <p class="login-warning-tips">Pastikan alamat yang anda tuju adalah
        <a class="login-warning-tips-url" href="https://academic.ui.ac.id">https://academic.ui.ac.id</a>
    </p>
</div>

{% endblock content %}