{% extends 'base.html' %}
{% block content %}
<h1>Happy Farmer Shop</h1>
<p>{{ name }} {{ npm }} {{ class }}</p>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<a href="{% url 'main:create_product' %}">
    <button>Add New Product</button>
</a>
<br/>
<br/>
    {% if not products %}
        <p>Belum ada produk.</p>
    {% else %}
        {% for product in products %}
        <img src="{{ product.image }}" alt="{{ product.name }}" height="150">
        <p>{{ product.name }}</p>
        <p>Harga: {{ product.price }}/pcs</p>
        <p>Deskripsi: {{ product.description }}</p>
        <p>Stok: {{ product.quantity }} ton</p>
        {% endfor %}
    {% endif %}
{% endblock content %}